# Local .terraform directories

**/.terraform/*
# Ignore variables files
*.auto.tfvars
# Ignore override files
*.tfstate.*
*.tfstate
*.hcl

*.tfoverride
# Ignore environment-specific files
.envrc
# Ignore CLI configuration files
.terraformrc
terraform.rc
